In [1]:
import numpy as np
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from src.results import get_best_scores_table

In [2]:
ens_method = "rand_init"
ens_method_ls = [
    "rand_init",
    "bagging",
    "mc_dropout",
    "variational_dropout",
    "concrete_dropout",
    "bayesian",
    "batchensemble",
]
dataset_ls = [
    "boston",
    "concrete",
    "energy",
    "kin8nm",
    "naval",
    "power",
    "protein",
    "wine",
    "yacht",
]
# dataset_ls = ["naval"]#, "wine"]
_datasets = [
    "boston",
    "concrete",
    "energy",
    "kin8nm",
    "naval",
    "power",
    "protein",
    "wine",
    "yacht",
]

In [3]:
# Get colors
cols = sns.color_palette("Dark2", 8, as_cmap=True)
# Colors of aggregation methods
agg_col = {
    "lp": cols.colors[4],  # type: ignore
    "vi": cols.colors[5],  # type: ignore
    "vi-a": cols.colors[2],  # type: ignore
    "vi-w": cols.colors[0],  # type: ignore
    "vi-aw": cols.colors[3],  # type: ignore
    "ens": cols.colors[7],  # type: ignore
    "opt": cols.colors[1],  # type: ignore
}
ens_col = {
    "rand_init": cols.colors[4],  # type: ignore
    "bagging": cols.colors[5],  # type: ignore
    "mc_dropout": cols.colors[2],  # type: ignore
    "concrete_dropout": cols.colors[0],  # type: ignore
    "variational_dropout": cols.colors[3],  # type: ignore
    "bayesian": cols.colors[7],  # type: ignore
    "batchensemble": cols.colors[1],  # type: ignore
}

In [4]:
score_vec = ["crps", "crpss", "me", "lgt", "cov", "a", "w"]
nn_vec = ["drn", "bqn"]
n_ens_vec = np.arange(start=2, stop=10 + 2, step=2)
agg_meths = ["lp", "vi", "vi-a", "vi-w", "vi-aw"]

# Get best result table

In [5]:
type = "t_"
data_path = os.path.join("..", "..", "04_Experiments", f"{type}Normal")
data_path = os.path.join("..", "..", "04_Experiments", f"MC Dropout 100")

ens_method_ls = ["mc_dropout"]
results = get_best_scores_table(data_path, nn_vec, ens_method_ls, agg_meths, dataset_ls, n_ens_vec)  # type: ignore

In [6]:
drn_results = results["drn_results"]
drn_results_num = drn_results[ens_method_ls]

drn_results.head()

          mc_dropout mc_dropout_agg  mc_dropout_n_ens
dataset
boston      2.039203             lp                10
concrete    6.221456          vi-aw                 2
energy      1.824164             lp                 6
kin8nm      0.053078          vi-aw                10
naval       0.007545          vi-aw                 4

In [7]:
results["drn_results"]

          mc_dropout mc_dropout_agg  mc_dropout_n_ens
dataset
boston      2.039203             lp                10
concrete    6.221456          vi-aw                 2
energy      1.824164             lp                 6
kin8nm      0.053078          vi-aw                10
naval       0.007545          vi-aw                 4
power       5.067972           vi-a                10
protein     2.422402          vi-aw                 2
wine        0.371823          vi-aw                10
yacht       3.910525             lp                 6